@mixin aparence-text($font-size, $font-weight) {
  margin: 1px;
  padding: 1px;

  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin width-flex($width, $flex) {
  width: $width;
  flex: $flex;
}
