.content-align-row-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  align-items: center;
  width: 100%;

  text-align: right;
}

.content-align-row-left {
  display: flex;
  flex-flow: row wrap;
  
  //align-items: center;
  width: 100%;

  text-align: left;
}

.content-align-row-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  text-align: center;
}

.content-align-column-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-align-column-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.block-inline-right {
  padding-left: 12px;
  
  display: inline-block;
}

.block-inline {
  padding-right: 12px;
  
  display: inline-block;
}

.section-row {
  @extend %flexbox-row;

  //flex-wrap: wrap;
  //row-gap: 20px;
  //column-gap: 0;
  //flex: 2 400px;
}

.content-color-gris {
  background-color: $color-grey;
}

/*
.column-section {
  flex: 2 400px;
}
*/