.content-align-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  text-align: right;
  align-items: center;
}

.content-align-left {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  align-items: center;
}

.block-inline {
  display: inline-block;
  padding-left: 12px;
}