.content-align-row-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  align-items: center;
  width: 100%;

  text-align: right;
}

.content-align-row-left {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  text-align: left;
}

.content-align-row-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: left;
  width: 100%;

  text-align: center;
}

.content-align-column-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-align-column-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.block-inline-right {
  padding-left: 12px;
  display: inline-block;
}

.block-inline {
  padding-right: 20px;
  display: inline-block;
}

.section-row {
  //@extend %flexbox-row;
    width: 100%;
}

.content-color-gris {
  background-color: $color-grey;
}

.bleeding-margin-left { padding-left: 6%; }

.bleeding-margin-right { padding-right: 6%; }

.content-full { padding-left: 0; padding-right: 0; }

.content-summary {
  display: flex;
  flex-direction: row;
}

.lineal-border-top-bottom {
  border-top: 1px solid rgb(49, 10, 190);
  border-bottom: 1px solid rgb(49, 10, 190);
}

.content-align-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}