.logo {
  padding: 1%;
  height: 13vh;
  width: 13vh;
}

.icon {
  color: $color-white;
  font-size: 18px;
  text-align: center;
}

.image {
  width: 100%;
}

@supports (display: grid) {
  .image-front-page {
    padding: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    background: url(../images/portada.jpg) no-repeat fixed 0% 0%/cover;
    cursor: default;
    z-index:-1;
  
    opacity: 0.9;
  }
}

@supports not (display: grid) {
  .image-front-page {
    padding-left: 37%;
    width: 25%;
    height: 25%;
    object-fit: cover;
    cursor: default;
  }
}

.image-card {
  height: 200px;
  width: 100%;
  
  object-fit: contain;
}

.image-title-blog {
  height: 100%;
  width: 100%;
  
  object-fit: cover;
}

.image-content-blog {
  height: 500px;
  width: 100%;

  object-fit:fill;
}