@media screen and (min-width: $medium-width) {

  .root {
    display:flex;
	  flex-flow:row wrap;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .nav {
    display: flex;
  }

  .container {
    container-type: inline-size;

    padding-left: 6%;
    padding-right: 6%;

    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container-contend-front-page {
    container-type: inline-size;
    container-name: front-page;
    width: 100%;
  }

  .footer {
    container-type: inline-size;
    container-name: footer;

    display: flex;
    align-items:flex-start;
    flex-wrap:wrap;
    flex-direction:column;
    width: 100%;
  }
  
}