@media screen and (min-width: $high-width) {

  .root {
    display:flex;
	  flex-flow:row wrap;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
}