<main class="container content-full content-fullx">
  <div class="root-grid-blog">
    <img class="image-blog" src="./assets/images/image_blog1.jpg" alt="Imagen Blog Título">
    <div class="text-grid-blog text-color-white">
      <h1 >Extensión de Tennis de Mesa</h1>
      <span>By Silvio Quezada</span>
    </div>
      

    
      
  </div>

  <div>
    2 Párrafos
  </div>
  
  <div>
    Contenido
  </div>

  <div>
    <img class="logo" src="./assets/images/image_blog2.jpg" alt="Imagen Blog de PResentación">
  </div>
</main>