<main class="container content-full content-fullx">
  <section aria-label="Título del artículo" class="root-grid-blog">
    <img class="image-title-blog" src="./assets/images/image_blog1.jpg" alt="Imagen Blog Título">
    <div class="text-grid-blog text-color-white">
      <h1>Extensión de Tennis de Mesa</h1>
      <p>By Silvio Quezada</p>
    </div>
  </section>

  <section class="content-summary" aria-label="Resumen del artículo">
    <h2>
      Conoce los beneficios del tenis para la salud, y también sus riesgos
    </h2>

    <blockquote cite="https://saludesvida.marca.com/deporte/conoce-los-beneficios-del-tenis-para-la-salud-y-tambien-sus-riesgos">
      <p>
        Federer, Nadal y Djokovic han escrito en las últimas décadas muchas de las gestas deportivas más impresionantes hasta hacer del tenis uno de los deportes más populares. Muchos niños, jóvenes y mayores han descubierto las ventajas físicas, sociales y mentales de un deporte que se puede practicar, en familia o con amigos, desde los tres años y hasta muy entrada la edad anciana.
      </p>
    </blockquote>

  </section>

 
  
  <section aria-label="Características del artículo">
    <ul class="lineal-border-top-bottom">
      <li class="content-align-column">
        <div>
          <p class="text-circle text-color-white">
            1
          </p>
        </div>
        <div>
          <blockquote cite="https://saludesvida.marca.com/deporte/conoce-los-beneficios-del-tenis-para-la-salud-y-tambien-sus-riesgos">
            <p>
              Físicamente
            </p>
            <p>
              Físicamente favorece la movilidad y la flexibilidad, fortalece la musculatura y los huesos. También es beneficioso para la salud cardiovascular, ya que al tratarse de un ejercicio aeróbico mejora el entorno cardiaco y respiratorio.
            </p>
          </blockquote>
          
        </div>
      </li>

      <li class="content-align-column">
        <div>
          <p class="text-circle text-color-white">
            2
          </p>
        </div>
        <div>
          <blockquote cite="https://saludesvida.marca.com/deporte/conoce-los-beneficios-del-tenis-para-la-salud-y-tambien-sus-riesgos">
            <p>
              A nivel social
            </p>
            <p>
              Físicamente favorece la movilidad y la flexibilidad, fortalece la musculatura y los huesos. También es beneficioso para la salud cardiovascular, ya que al tratarse de un ejercicio aeróbico mejora el entorno cardiaco y respiratorio.
            </p>
          </blockquote>
        </div>
      </li>

      <li class="content-align-column">
        <div>
          <p class="text-circle text-color-white">
            3
          </p>
        </div>
        <div>
          <blockquote cite="https://saludesvida.marca.com/deporte/conoce-los-beneficios-del-tenis-para-la-salud-y-tambien-sus-riesgos">
            <p>
              Evitar lesiones
            </p>
            <p>
              Como todo deporte, la práctica del tenis puede causar lesiones que es importante conocer. El objetivo es seguir unas pautas para evitarlas. En tenistas profesionales existen lesiones, que se manifiestan muchas veces, más por la exigencia de la alta competición, que del deporte en sí mismo.
            </p>
          </blockquote>
        </div>
      </li>
    </ul>
  </section>
  


  <article>
    <h2>
      Conoce los beneficios del tenis para la salud, y también sus riesgos
    </h2>
    <blockquote cite="https://saludesvida.marca.com/deporte/conoce-los-beneficios-del-tenis-para-la-salud-y-tambien-sus-riesgos">
      <p>
        Federer, Nadal y Djokovic han escrito en las últimas décadas muchas de las gestas deportivas más impresionantes hasta hacer del tenis uno de los deportes más populares. Muchos niños, jóvenes y mayores han descubierto las ventajas físicas, sociales y mentales de un deporte que se puede practicar, en familia o con amigos, desde los tres años y hasta muy entrada la edad anciana.
      </p>
    </blockquote>
    
    <div class="content-align-column bleeding-margin-left bleeding-margin-right">
      <img class="image-content-blog" src="./assets/images/image_blog2.jpg" alt="Imagen Blog de Presentación">
    </div>
    
    <blockquote cite="https://saludesvida.marca.com/deporte/conoce-los-beneficios-del-tenis-para-la-salud-y-tambien-sus-riesgos">
      <p>
        Un estudio de la revista médica Mayo Clinic Proceedings, publicado en 2018, concluye que el tenis es el deporte que se puede realizar con más edad. Según el trabajo, realizado sobre más de 8.000 deportistas que se analizaron durante 25 años, la práctica habitual del tenis alarga la vida de quien lo practica en 9 años. Para que esto sea posible, hay que acompañarlo de una nutrición adecuada, una revisión cardíaca y controlar el sueño y el estrés.
  
        ¿Cuál es la mejor edad para empezar a practicar tenis? Algunos profesores prefieren trabajar con niños de 4 ó 5 años porque favorece su psicomotricidad. Otros, a los 5 ó 6 años, porque tienen mayor comprensión y eso favorece el aprendizaje. Para José Tabuenca, jefe del Servicio de Cirugía Ortopédica y Traumatología del Hospital Universitario Quirónsalud Madrid, no hay una edad concreta, sino que es el niño el que te indica cuándo está preparado. “Algunos, a los 3 años juegan perfectamente, y a otros su interés les viene a los 10 años. Esto lo perciben los padres, cuando ven que el niño tiene curiosidad por jugar con ellos o con otros niños,” explica el especialista de Quirónsalud, grupo hospitalario que un año más será Servicio Médico Oficial para los jugadores que participan en el Mutua Madrid Open que comienza este viernes en la Caja Mágica.
      </p>
    </blockquote>
    
    <h3>
      Ventajas fundamentales
    </h3>

    <blockquote cite="https://saludesvida.marca.com/deporte/conoce-los-beneficios-del-tenis-para-la-salud-y-tambien-sus-riesgos">
      <p>
        Las ventajas de su práctica son evidentes. Físicamente favorece la movilidad y la flexibilidad, fortalece la musculatura y los huesos. También es beneficioso para la salud cardiovascular, ya que al tratarse de un ejercicio aeróbico mejora el entorno cardiaco y respiratorio.
      </p>
      <p>
        A nivel social, es una actividad que se realiza con otras personas, lo que mejora la relación con ellas, evitando el egoísmo y el individualismo. Además, el tenis ayuda a eliminar el estrés. De todos los beneficios que ofrece este deporte, el especialista destaca el mental. “En tenistas de muy alto nivel, la fortaleza que les hace ganar los partidos no es solo física sino mental. Si esta capacidad la estimulas desde pequeño, favorece el control de las emociones. Este deporte ayuda a responder con optimismo ante la adversidad, a admitir que el rival es mejor. Cuando juegas en grupo, puedes ayudar al compañero, cediéndole la pelota. Eso hace que el tenis sea un buen deporte para un desarrollo mental adecuado”, afirma Tabuenca.
      </p>
    </blockquote>
    
    <h3>
      Evitar lesiones
    </h3>

    <blockquote cite="https://saludesvida.marca.com/deporte/conoce-los-beneficios-del-tenis-para-la-salud-y-tambien-sus-riesgos">
      <p>
        Como todo deporte, la práctica del tenis puede causar lesiones que es importante conocer. El objetivo es seguir unas pautas para evitarlas. En tenistas profesionales existen lesiones, que se manifiestan muchas veces, más por la exigencia de la alta competición, que del deporte en sí mismo. Si pensamos en las agudas, las que ocurren durante el partido, son frecuentes las que se dan en los miembros inferiores, siendo el más habitual, el esguince de tobillo. Otro tipo de lesiones son las del hombro. “Los tenistas jóvenes tienen hombro laxo e inestable. Los de edad avanzada tienen más lesiones del manguito rotador. Además, en el futuro tienen más riesgo de sufrir artrosis que la población normal”, señala el doctor Tabuenca.
      </p>
    </blockquote>
    
  </article>
 
  


</main>