<main class="container">
  <div class="row">
  <h1>Escríbenos</h1>
  </div>
  <div class="row">
    <div class="col">
      
      <form class="foo">
        <div class="mb-3">
          <label class="form-label" for="name">Nombres y Apellidos:</label>
          <input class="form-control" type="name" id="name">
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">Correo electrónico:</label>
          <input class="form-control" type="email" id="email">
        </div>
        <div class="mb-3">
          <label class="form-label" for="coments">Comentario:</label>
          <textarea class="form-control"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
      </form>


    </div>
    <div class="col">
      <div class="container py-4 px-3 mx-auto">
        <div class="alert alert-info d-flex align-items-center" role="alert">
          <div>
            <i class="fa-solid fa-circle-info"></i> Síguenos en nuestro canal de Youtube
          </div>
        </div>
        <button class="btn btn-danger"><i class="fa-brands fa-youtube"></i> Apóyanos con un like</button>
      </div>
    </div>
  </div>

  

  

</main>