<footer class="footer">

  <div class="content-align-column-left">
    
    <div class="card-line">
      <h2>Puntos de Contactos</h2>
      <span class="text-info">Teléfono:</span>
      <span class="bleeding">0939278001</span>
      <pan>____________________________</pan>
      <span class="text-info">Email 1:</span>
      <span class="bleeding">sss.silq@gmail.com</span>
      <pan>____________________________</pan>
      <span class="text-info">Email 2:</span>
      <span class="bleeding">sss_silq@hotmail.com</span>
      <pan>____________________________</pan>
    </div>

    <div class="card-line">
      <h2>Horarios</h2>
      <span class="text-info">Lunes - Viernes</span>
      <span class="bleeding text-shading">08:00 - 17:00</span>
      <span class="text-info">Sábados y Domingos</span>
      <span class="bleeding text-shading">08:00 - 17:00</span>
      <span class="text-info">Feriados</span>
      <span class="bleeding text-shading">08:00 - 12:00</span>
    </div>

    <div class="card-line">
      <h2>Dirección</h2>
      <span class="text-info">Ecuador - El Oro - Santa Rosa</span>
      <span class="text-info">Ver en el Mapa</span>
      <img class="image" src="./assets/images/mapa.jpg" alt="Imagen Ubicación">


  </div>

  </div>

    <div class="section-row content-color-gris">
        <div class="header content-align-row-left">
          <a href="index.html">
            <img class="logo" src="./assets/images/logo.svg" alt="Imagen Logo">
          </a>
        </div>
    
        <div class="nav content-align-row-center">
            <ul>
                <li class="block-inline"><a href="#">Inicio</a></li>
                <li class="block-inline"><a href="#">Categorías</a></li>
                <li class="block-inline"><a href="#">Presentación</a></li>
                <li class="block-inline"><a href="#">Enlaces</a></li>
            </ul>
        </div>

        <div class="nav content-align-row-right">
            <div>
                <a class="icon" href="https://www.linkedin.com/in/silvio-vinicio-quezada-3174b610a/" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a>
                <a class="icon" href="https://www.facebook.com/silvio.quezada.3" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a class="icon" href="https://www.instagram.com/silvio.quezada.3/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            </div>
          </div>

        
    </div>

    <div class="section-row content-color-gris">
        <div class="content-align-row-center">
            <span class="text-color-white">&copy; Universitat Oberta de Catalunya - Diseñado por Silvio Vinicio Quezada Puchaicela</span>
        </div>
    </div>
  




            




</footer>