<main class="root-front-page">
  <header class="header-front-page content-align-row-left">
    <a href="index.html">
    <img class="logo" src="./assets/images/logo.svg" alt="Imagen Logo">
    </a>
  </header>
  
  <nav class="nav-front-page content-align-row-right">
    <a href="#encabezado"
      id="enlace_menu"
      class="menu_hamburguesa"
      onclick="menu()"   
    >☰</a>
    <div id="menu">
      <ul>
        <li class="block-inline-right"><a href="members.html">Miembros</a></li>
        <li class="block-inline-right"><a href="blog.html">Blog</a></li>
        <li class="block-inline-right"><a href="contact.html">Contáctanos</a></li>
      </ul>
    </div>
  </nav>

  <img class="image-front-page" src="./assets/images/portada.jpg" alt="Imagen Front Page">

  <div class="container-front-page">
    <section class="content-align-column-center">
      <h1 class="text-title text-color-white">TENNIS CLUB "START FIT"</h1>
      <p class="text-medium text-color-white">El deporte es lo mejor que puede existir</p>
      <p class="text-medium text-color-white">Únete a este hermoso deporte y sé parte de nuestro club</p> 
    </section>
  </div>
</main>