<!-- <header class="header">
    <img class="photo circle" src="./assets/images/perfil.jpg" alt="Silvio Quezada Photo">
    <div>
      <p class="text-big">Silvio Quezada</p>
      <p class="text-medium">Ecuador</p>
      <div>
        <a class="icon" href="https://www.linkedin.com/in/silvio-vinicio-quezada-3174b610a/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a class="icon" href="https://www.facebook.com/silvio.quezada.3" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a class="icon" href="https://www.instagram.com/silvio.quezada.3/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
    <div class="content-aling-right">
      <button class="button button-color-green"><i class="fa-brands fa-whatsapp"></i> Contáctame</button>
    </div>
  </header> -->

  <header class="header content-align-left">
    
      <a href="index.html">
        <img src="./assets/images/logo.svg" class="logoencabezado" alt="Imagen Logo">
      </a>
    
  </header>
  
  <nav class="nav content-align-right">
    <a href="#encabezado"
      id="enlace_menu"
      class="menu_hamburguesa"
      onclick="menu()"   
    >☰</a>

    <div id="menu">
      <ul>
        <li class="block-inline"><a href="#">Inicio</a></li>
        <li class="block-inline"><a href="#">Categorías</a></li>
        <li class="block-inline"><a href="#">Presentación</a></li>
        <li class="block-inline"><a href="#">Enlaces</a></li>
      </ul>
    </div>

  </nav>