  <header class="header content-color-gris">
      <a class="bleeding-margin-left" href="index.html">
        <img class="logo" src="./assets/images/logo.svg" alt="Imagen Logo">
      </a>

      <nav class="nav bleeding-margin-right">
        <a href="#encabezado"
          id="enlace_menu"
          class="menu_hamburguesa"
          onclick="menu()"   
        >☰</a>
        <div id="menu">
          <ul>
            <li class="block-inline-right"><a href="members.html">Miembros</a></li>
            <li class="block-inline-right"><a href="#">Blog</a></li>
            <li class="block-inline-right"><a href="#">Contáctanos</a></li>
          </ul>
        </div>
      </nav>
      
  </header>
  
