  <header class="header content-align-row-left">
      <a href="index.html">
        <img class="logo" src="./assets/images/logo.svg" alt="Imagen Logo">
      </a>
  </header>
  
  <nav class="nav content-align-row-right">
    <a href="#encabezado"
      id="enlace_menu"
      class="menu_hamburguesa"
      onclick="menu()"   
    >☰</a>
    <div id="menu">
      <ul>
        <li class="block-inline-right"><a href="#">Inicio</a></li>
        <li class="block-inline-right"><a href="#">Categorías</a></li>
        <li class="block-inline-right"><a href="#">Presentación</a></li>
        <li class="block-inline-right"><a href="#">Enlaces</a></li>
      </ul>
    </div>
  </nav>