<main class="container">
  <!-- <section class="content-align-column-center">
    <h1 class="text-title">TENNIS CLUB "START FIT"</h1>    
  </section> -->
  <h1>Miembros del Equipo de Tennis</h1>

  <div class="content-align-row-center">
    <div class="card">
      <img class="image-card" src="./assets/images/member1.jpg" alt="Imagen member">
      <p class="title-content">Silvio Quezada</p>
      <p class="text-content">Programador del Club de Tennis, 32 años de edad, colaborador del desarrollo del sitio web</p>
    </div>
  
    <div class="card">
      <img class="image-card" src="./assets/images/member2.jpg" alt="Imagen member">
      <p class="title-content">Luis Alvarado</p>
      <p class="text-content">Presidente del Club de Tennis, 32 años de edad, colaborador de la organización de torneos</p>
    </div>
  
    <div class="card">
      <img class="image-card" src="./assets/images/member3.jpg" alt="Imagen member">
      <p class="title-content">Fabián Gallardo</p>
      <p class="text-content">Tesoreo del Club de Tennis, 35 años de edad, colaborador en la parte financiera</p>
    </div>

    <div class="card">
      <img class="image-card" src="./assets/images/member4.jpg" alt="Imagen member">
      <p class="title-content">Noel Gomez</p>
      <p class="text-content">Conductor del Club de Tennis, 28 años de edad, colaborador en la accesibilidad de transporte</p>
    </div>

    <div class="card">
      <img class="image-card" src="./assets/images/member5.jpg" alt="Imagen member">
      <p class="title-content">Jessica Quezada</p>
      <p class="text-content">Diseñadora del Club de Tennis, 30 años de edad, colaborador en el diseño de la vestimenta</p>
    </div>

    <div class="card">
      <img class="image-card" src="./assets/images/member6.jpg" alt="Imagen member">
      <p class="title-content">Alexis Rivas</p>
      <p class="text-content">Capacitadora del Club de Tennis, 28 años de edad, colaborador en la capacitaciones del público general</p>
    </div>
  </div>
  

  <!-- <div class="card">
    Hola
  </div> -->
</main>