<main class="container">
  <!-- <section class="content-align-column-center">
    <h1 class="text-title">TENNIS CLUB "START FIT"</h1>    
  </section> -->
  <h1>Miembros del Equipo de Tennis</h1>

  <div class="content-align-row-center">
    <div class="card">
      <img class="image-card" src="./assets/images/perfil.jpg" alt="Imagen member">
      <p class="title-content">Silvio Quezada</p>
      <p class="text-content">Antes de comentar sobre esta afición voy a presentarme y porqué me gusta esta afición este arte.</p>
    </div>
  
    <div class="card">
      <img class="image-card" src="./assets/images/perfil.jpg" alt="Imagen member">
      <p class="title-content">Silvio Quezada</p>
      <p class="text-content">Antes de comentar sobre esta afición voy a presentarme y porqué me gusta esta afición este arte.</p>
    </div>
  
    <div class="card">
      <img class="image-card" src="./assets/images/perfil.jpg" alt="Imagen member">
      <p class="title-content">Silvio Quezada</p>
      <p class="text-content">Antes de comentar sobre esta afición voy a presentarme y porqué me gusta esta afición este arte.</p>
    </div>

    <div class="card">
      <img class="image-card" src="./assets/images/perfil.jpg" alt="Imagen member">
      <p class="title-content">Silvio Quezada</p>
      <p class="text-content">Antes de comentar sobre esta afición voy a presentarme y porqué me gusta esta afición este arte.</p>
    </div>

    <div class="card">
      <img class="image-card" src="./assets/images/perfil.jpg" alt="Imagen member">
      <p class="title-content">Silvio Quezada</p>
      <p class="text-content">Antes de comentar sobre esta afición voy a presentarme y porqué me gusta esta afición este arte.</p>
    </div>

    <div class="card">
      <img class="image-card" src="./assets/images/perfil.jpg" alt="Imagen member">
      <p class="title-content">Silvio Quezada</p>
      <p class="text-content">Antes de comentar sobre esta afición voy a presentarme y porqué me gusta esta afición este arte.</p>
    </div>
  </div>
  

  <!-- <div class="card">
    Hola
  </div> -->
</main>