$color-primary: rgb(73 81 90);
$background-color: rgb(255, 255, 255);
$color-border-card: rgb(229 229 229);
$color-border-control: rgb(229 229 229);
$color-shading: rgb(229 229 229);
$color-text-content: rgb(67 67 67);
$color-white: rgb(255, 255, 255);
$color-yellow: rgb(245 245 0);
$color-blue: rgb(52 152 219);