:is(section, article) h2 {
  display: flex;
  font-size: 20px;
  font-weight: 100;
}

h3 {
  font-size: 18px;
}

h1 {
  font-size: $font-size-medium;
  padding-top: 2%;
  text-align: center;
}

@container (min-width: 500px) {
    
  :is(section, article) h2 {
    font-size: 24px;
    font-weight: 100;
  }

}

@container (min-width: 800px) {
    
  :is(section, article) h2 {
    font-size: 28px;
    font-weight: 100;
  }

  h1 {
    font-size: $font-size-big;
    padding-top: 2%;
    text-align: center;
  }

}